.top-page{
    background-image: url(../pictures/pattern.png);
    background-color: lightskyblue;
    height: 100px;
    margin: 0;
}

.top2{
    height: 50%;
    display
}

h1{
    margin: 0;
    margin-top: 12px;
}

.photo-source{
    margin: 0;
    font-size: 12px;
}

.underlined{
    background-color: yellow;
}

.altro{
    color: grey;
    margin-top: 40px;
}

.foto-finale1{
    width: 270px;
    height: 200px;
    background-image: url(../pictures/monitor.jpg);
    background-color: red;
}

.foto-finale2{
    width: 270px;
    height: 200px;
    margin-top: 13px;
    background-image: url(../pictures/graph.jpg);
}

.descrizione-foto{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}