body{
    margin: 0 auto;
    width: 1100px;
}

main{
    margin-left: 5px;
}

.top-page{
    background-image: url(../pictures/pattern.png);
    background-color: lightskyblue;
    height: 100px;
    background-size: 300px;
}

.img-top{
    height: 50%;
    margin-top: 40px;
}

h1{
    margin: 0;
    margin-top: 12px;
}

.photo-source{
    margin: 0;
    font-size: 12px;
}

.underlined{
    background-color: yellow;
}

footer{
    margin-left: 5px;
}

.suggerimento{
    color: grey;
    margin-top: 40px;
}

.foto-finale1{
    width: 270px;
    height: 200px;
    background-image: url(../pictures/monitor.jpg);
    background-color: red;
}

.foto-finale2{
    width: 270px;
    height: 200px;
    margin-top: 13px;
    background-image: url(../pictures/graph.jpg);
}

.descrizione-foto{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

ul{
    padding: 0px;
    list-style-position: inside;
}

.table-title{
    color: white;
    background-color: blue;
}

.row-title{
    background-color: aqua;
}

.all-table{
    marg;
}